
            .bask{
              width: 100%;
               height: 225px;
               object-fit: cover;
               margin-bottom: 8px;
            }
           .bask-position{
            position: relative;
           }
           .video-time{
            position: absolute;
            background-color:  black;
            color: white;
            bottom: 14px;
            right: 5px;
            font-size: 12px;
            font-weight: 500;
            padding: 4px 4px 4px 4px;
            border-radius: 3px;
            font-family: arial;
           }
          .div1{
            margin-top: 0px;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 10px;
          }
          .div2, .div3{
            font-size: 12px;
            color: rgb(96, 96, 96);
            
          }
          .div2{
            margin-bottom: 4px;
          }
           
             .video-info-grid{
              position: relative;
                display: grid;
                grid-template-columns: 50px 1fr;
            }
            .video-info {
                display: inline-block;
                margin-top: 0px;
            }
            .camera2{
              position: relative;
                width: 36px;
                 height: 36px;
                 cursor: pointer;
                border-radius: 50%;
            }
         
            .video-grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 16px;
                row-gap: 40px;
                
            }
               @media  (max-width: 800px) {
              .video-grid{
                grid-template-columns: 1fr 1fr;
              }
            }
            @media (min-width:751px) and (max-width: 999px){
              .video-grid{
                grid-template-columns: 1fr 1fr 1fr;
              }
            }
            @media (min-width: 1000px){
              .video-grid{
                grid-template-columns: 1fr 1fr 1fr 1fr;
              }
            }
            .subvideo-info-container{
              display: grid;
              position: absolute;
              grid-template-columns: 35px 1fr;
              vertical-align: middle;
              background-color: white;
              z-index: 300; 
             bottom: 10px;
             border-radius: 10px;
             left: 30px;
             pointer-events: none;
             box-shadow: 4px 10px;
             opacity: 0;
            }
            .channel-picture:hover .subvideo-info-container{
              opacity: 1;
            }
            .subvideo-info{
              width: 120px;
              padding: 4px 4px 4px 4px;
              display: inline-block;
            }
            .camera1{
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }
            .mars-text{
              font-size: 14px;
              display: inline-block;
              line-height: 20px;
            }
            .view-text{
              font-size: 12px;
            color: rgb(96, 96, 96);
            }
           